*{
  margin: 0px;
  padding: 0px;
  font-family: "Roboto",sans-serif;
  /* border: 2px solid red; */
}
nav{
  background-color: rgb(30, 108, 242);
  color: white;
  padding: 10px;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');
.container{
  background-color: rgb(255, 252, 238);
  width: 80%;
  margin: auto;
  min-height: 100vh;
  padding: 4vmax 10vmax;
  box-sizing: border-box; 
}

.container > form {
  display: flex;
  flex-direction: column;
}

.container > h1{
  text-align: center;
  margin: 20px;

}

input , textarea, button{
  padding: 15px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 10px 0px;
  font-size: 1.2rem;
}

button{
  border: none;
  cursor: pointer;
  background-color: rgb(26, 22, 22);
  color: white;
}

.task{
  display: flex; 
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  margin: 20px 0;
}

.task span{
  color: rgb(49, 40, 40);
}

.task > div{
  width: 100%;
}

.task button {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 1.6rem;
  background-color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .6s;
}

.task button:hover{
  background-color: red;
}