*{
  margin: 0px;
  padding: 0px;
  font-family: "Roboto",sans-serif;
  border: 1px solid red;
}
nav{
  background-color: rgb(30, 108, 242);
  color: white;
  padding: 10px;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');
.container{
  background-color: rgb(255, 252, 238);
  width: 80%;
  margin: auto;
  min-height: 100vh;
  padding: 4vmax 10vmax;
  box-sizing: border-box; 
}

.container > form {
  display: flex;
  flex-direction: column;
}

.container > h1{
  text-align: center;
  margin: 20px;

}

input , textarea, button{
  padding: 15px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 10px;
  font-size: 1.2rem;
}

button{
  border: none;
  cursor: pointer;
  background-color: rgb(26, 22, 22);
  color: white;
}

.task{
  border: 1px;
  display: flex;
}